{% extends 'base.html'  %}

{% block content %}
<h3 class="heading">Most Popular Games</h3>

<div class="popular">
    <div class="card">
        <img src="" alt="">
        <div>
            <h5>Game Title</h5>
            <p>XBOX, Windows, PS5</p>
        </div>
    </div><!-- card -->
    <div class="card">
        <img src="" alt="">
        <div>
            <h5>Game Title</h5>
            <p>XBOX, Windows, PS5</p>
        </div>
    </div><!-- card -->
    <div class="card">
        <img src="" alt="">
        <div>
            <h5>Game Title</h5>
            <p>XBOX, Windows, PS5</p>
        </div>
    </div><!-- card -->

</div><!-- popular -->

<ul>
    <li></li>
</ul>
{% endblock %}