* {
    /* outline: 1px dotted magenta; */
    --primary: #FF7A12;
    --secondary: #000046;
}
body {
    font-family: 'Poppins', sans-serif;
    color: var(--secondary);
}
a {
    text-decoration: none;
    color: var(--secondary);
}
    a:hover {
        color: var(--primary);
    }
.bold {
    font-weight: 700;
}
.main {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary);
}
    .main .header-logo {
        background: url('img/mgl-icon-white.svg') no-repeat center center;
        background-size: contain;
        width: 60px;
        height: 30px;
    }
    .menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: all .1s ease-in-out;
    }
    .menu-btn_burger {
        width: 30px;
        height: 2px;
        background: white;
        transition: all .1s ease-in-out;
    }
    .menu-btn_burger::before, .menu-btn_burger::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background: white;
        transition: all .1s ease-in-out;
    }
    .menu-btn_burger::before {
        transform: translateY(-10px);
        transform-origin: left, top;
    }  
    .menu-btn_burger::after {
        transform: translateY(10px);
        transform-origin: left, bottom;
    }
        .menu-btn.open .menu-btn_burger {
            background: transparent;
        }
        .menu-btn.open .menu-btn_burger::before {
            background-color: var(--primary);
            transform: rotate(45deg);
        }
        .menu-btn.open .menu-btn_burger::after {
            background-color: var(--primary);
            transform: rotate(-45deg);
        }
@keyframes overlay {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.mobile-nav {
    display: none;
    position: absolute;
    z-index: 99;
    width: 100%;
    animation: overlay .5s forwards;
}
.list-group-item {
    padding: 1rem 2rem;
}

.wrapper {
    padding: 30px;

}
.heading {
    text-align: center;
    margin-bottom: 30px;
}

.card {
    width: 70%;
    border: none;
    margin: 0 auto;
}
    .card img {
        width: 100%;
        height: 400px;
        margin-bottom: 15px;
        border-radius: 25px;
    }
    .card h5 {
        font-weight: 600;
        font-size: 1em;
    }
    .card p {
        font-size: 0.75em;
        margin-bottom: 30px;
    }